#pokedexModal{
	width:100%;
}

#pokedex{
	width:70%;
	overflow: auto;
}

.pokedexEntry {
	height:175px;
	border: 1px solid black;
	margin: 4%;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	cursor: default;
}

.pokedexRank {
	position:absolute;
	top:0px;
	right:0px;
	border-left:1px solid black;
	border-bottom:1px solid black;
	text-align:center;
	height:20px;
	width:20px;
}

#unkownPokemonImage{
	height:96px;
	width:96px;
	margin-top:30px;
	margin-bottom: 19px;
}

#pokedexImage {
	text-align:auto;
}

.pokedexText {
	margin-bottom: 3px;
}

body {
	background-image: url('http://i.imgur.com/O7ZWigt.png'); 
}

.container-fluid{
	margin-top: 15px;
}

table, #console, #currentEnemy, #upgradeBox, #navBar {
	background-color: white;
}

#navBar{
	border: 1px solid black;

	bottom:0px;
}

#leftColumn {
	margin-right: 7.5px;
	padding-right: 25px;
}

#rightColumn {
	margin-left: 7.5px;
}

.pokeBadge{
	opacity:0.10;
}

#map {
	cursor:default;
	border: 1px solid black;
	font-size:17px;
}

#pokemonTable {
	margin-bottom:0px;
}

#pokemons {
	height:300px;
	overflow:auto;
	background-color:white;
	border:1px solid black;
	margin-bottom: 20px;
}


#pokeball {
	-webkit-animation:spinleft 1s linear infinite;
    -moz-animation:spinleft 1s linear infinite;
    animation:spinleft 1s linear infinite;

    height:76px;
    width:76px;

}

@-moz-keyframes spinleft { 100% { -moz-transform: rotate(20deg); } }
@-webkit-keyframes spinleft { 100% { -webkit-transform: rotate(20deg); } }

    @keyframes spinleft { 
        0% { 
            transform: rotate(0deg); 
        }
        15% { 
            transform: rotate(10deg); 
        }
        30% { 
            transform: rotate(0deg); 
        }
        50% {
        	transform: rotate (0deg);
        }
        65% { 
            transform: rotate(-10deg); 
        }
        80% { 
            transform: rotate(0deg); 
        }
    }



#upgradeBox{
	text-align:center;
	border: 1px solid black;
}

.smallImage{
	max-height: 40px;
	height: auto;
	width: auto;
	margin: -7px;
	margin-right: 0;
}

.smallImage:hover{
	position:relative;
	
}

.upgradeBoxes{
	position:relative;
	margin-top:2px;
	margin-bottom:2px;
}

image {
	cursor: default
}

g, rect {
	cursor:pointer;
}

#statDiv {
	height:300px;
	overflow:auto;
	background-color:white;
	border:1px solid black;
	margin-bottom: 20px;
	padding:0;

}

#mapDiv {
	padding-left:0px;
	padding-right: 0px;
}

#statTable {
	margin-bottom:0px;
}

.container {
	width:100% !important
}

#alreadyCaughtImage{
	height:16px;
	width:16px;
}
#myModalLabel{
	text-align:center;
}

#changeLogModal .modal-dialog
{
    width: 1000px;
}

#starterPokemons{
	text-align:center;
}

#console{
	border: 1px solid black;
	height:198px;
	overflow: scroll;
	margin-bottom: 10px;
}

#enemy:hover{
	cursor:pointer
}

#currentEnemy{
	border: 1px solid black;
	text-align:center;
	height: 250px;
	margin-bottom: 20px;
}

#pokemons table{
	display: block;
}

#pokemons thead{
	min-width: 100%;
	display: table;
}

#pokemons tbody{
	min-width: 100%;
	display: table;
}

#pokemons th{
	width: 25%;
	text-align: center;
	vertical-align: middle !important;
}

#pokemons th:first-child{
	width: 50%;
	text-align: left;

}


