#pokedexModal{
	width:100% !important;
}

body {
	background-image: url('http://i.imgur.com/O7ZWigt.png'); 
}

table, #console, #currentEnemy, #upgradeBox, #navBar {
	background-color: white;
}

#navBar{
	border: 1px solid black;
}

.pokeBadge{
	opacity:0.10;
}

#pokeball {
	-webkit-animation:spinleft 1s linear infinite;
    -moz-animation:spinleft 1s linear infinite;
    animation:spinleft 1s linear infinite;
}

@-moz-keyframes spinleft { 100% { -moz-transform: rotate(20deg); } }
@-webkit-keyframes spinleft { 100% { -webkit-transform: rotate(20deg); } }

    @keyframes spinleft { 
        0% { 
            transform: rotate(0deg); 
        }
        15% { 
            transform: rotate(10deg); 
        }
        30% { 
            transform: rotate(0deg); 
        }
        50% {
        	transform: rotate (0deg);
        }
        65% { 
            transform: rotate(-10deg); 
        }
        80% { 
            transform: rotate(0deg); 
        }
    }

#statTable {
	padding-right:0px;
}

#upgradeBox{
	text-align:center;
	border: 1px solid black;
}

.smallImage{
	height:16px;
	width:16px;
}

.smallImage:hover{
	position:relative;
	
}

.upgradeBoxes{
	position:relative;
	
	margin-top:2px;
	margin-bottom:2px;
}



.container {
	width:100% !important
}

#alreadyCaughtImage{
	height:16px;
	width:16px;
}
#myModalLabel{
	text-align:center;
}

#changeLogModal .modal-dialog
{
    width: 1000px;
}

#starterPokemons{
	text-align:center;
}

#console{
	border: 1px solid black;

	height:300px;
	bottom:50px;	
	overflow: scroll;
}

#enemy:hover{
	cursor:pointer
}

#currentEnemy{
	border: 1px solid black;
	text-align:center;
	height: 261px;
}