PokeClicker/.idea/PokeClicker.iml
PokeClicker/.idea/copyright/profiles_settings.xml
PokeClicker/.idea/encodings.xml
PokeClicker/.idea/modules.xml
PokeClicker/.idea/scopes/scope_settings.xml
PokeClicker/.idea/workspace.xml
.idea/
